// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
	background-color: rgb(236, 244, 250) !important;
}
html,
body {
	height: 100%;
	margin: 0;
}

#app {
	height: 100%;
}
.card {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
